$max-width:1280px;

$header-height:100px;

$fatface:'Abril Fatface', cursive;
$opensans:  'Open Sans', sans-serif;

$brown: #a44b26;
$almost-black: #141414;
$gray: #999;
$lightgray: #dedede;

.gray {
	color:$gray;
}

$standard-spacing: 48px;

@import "compass/css3/transition";
@import "compass/css3/border-radius";

// WebKit font-smoothing
// @include font-smoothing(on);
// @include font-smoothing(off);
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

%standard-spacing-bottom {
	margin-bottom:$standard-spacing;	
}

%standard-spacing-top {
	margin-top:$standard-spacing;	
}


%font-smoothing-on {
	@include font-smoothing(on);
}

%font-smoothing-off {
	@include font-smoothing(off);
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%preserve3d {
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

%section-vertical-padding {
	padding-top:$standard-spacing*1.25;
	padding-bottom:$standard-spacing*1.25;
}

@mixin no-horizontal-padding {
	padding-left:0;
	padding-right:0;
}

%no-horizontal-padding {
	@include no-horizontal-padding;
}

%dark-bg {
	background:$almost-black;
	@extend %font-smoothing-off;
	color:white;
	a,
	.dropdown-toggle {
		color:white;
	}
	.site-menu .dropdown-menu {
		background:$almost-black;
	}
}

a,
.dropdown-toggle {
	@include transition-property(color);
	@include transition-duration(0.28s);
	@include transition-timing-function(ease-out);
	&:focus,
	&:hover,
	&:active {
		text-decoration:none;
		color:$brown;
	}
	&:focus {
		outline: none;
		color:$brown;
	}
}

%disable-link {
	pointer-events:none;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
}

hr {
	border-color:$gray;
	margin: 0;
}

.dark-bg {
	@extend %dark-bg;
	hr {
		border-color:$lightgray;
	}
}

.show {
	opacity:1 !important;
}

.button {
	@include transition-property(background,color);
	@include transition-duration(0.16s);
	@include transition-timing-function(ease-in-out);
	-webkit-appearance:none;
	display:inline-block;
	padding:0 28px;
	border:1px solid;
	min-width:150px;
	height:42px;
	line-height:42px;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	.site-menu &:hover,
	.site-menu &:active,
	.site-menu &:focus {
		background:white;
		color:black !important;
	}
	.dark-bg &,
	&:hover,
	&:active,
	&:focus {
		color:white;
		background:black;
	}
	.dark-bg &:hover,
	.dark-bg &:active,
	.dark-bg &:focus {
		color:black;
		background:white;
	}
}

.dark-bg .site-menu .dropdown-menu {
	background:$almost-black;
}

.dark-bg,
#mobile-menu {
	.button:hover, 
	.button:active,
	.button:focus {
		color:black;
		background:white;
	}
}

.noscroll {
	overflow:hidden;
}

.wrapper {
	padding:0;
}


.container {
	max-width:$max-width;
	text-align:center;
}

.row-container {
	overflow: auto;
}

// target only Chrome & Safari
@media
only screen and (-webkit-min-device-pixel-ratio:0),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
	.container {
		@include font-smoothing(on);
	}
}

h1,h2 {
	font-family:$fatface;
	span {
		color:$gray;
	}
}
h1 {
	font-size:52px;
	line-height:1.115;
}
h2 {
	font-size:36px;
}
h3 {
	font-size:24px;
}
h4 {
	font-weight:bold;
}

@import "header";

@import "home";

@import "features";

@import "model-detail";

@import "lightbox";

@import "gallery";

@import "footer";
