// Contact

.contact {
	@extend %section-vertical-padding;
	overflow:auto;
	h4 {
		margin-top:0;
		margin-bottom: $standard-spacing;
	}
}

form {
	font-size:18px;
	line-height:2;
	input[type="text"],
	input[type="email"],
	textarea {
		-webkit-appearance: none;
		border:1px solid #999;
		@include transition-property(border-color);
	  @include transition-duration(0.5s);
	  @include transition-timing-function(ease-in);
		width: 100%;
		padding:0 12px;
		margin-bottom:32px;
		font-weight: 300;
		&:focus,
		&:active,
		&:hover {
			border-color: $brown;
			outline: none;
		}
	}
	input[type="text"],
	input[type="email"] {
		display: block;
		height:45px;
		line-height: 1;
	}
	textarea {
		height: 11em;
	}
	input[type="submit"] {
		background:none;
	}
}

// Footer

footer {
	@extend %dark-bg;
	padding-top:$standard-spacing/1.5;
	padding-bottom:$standard-spacing*2.5;
	a {
		display: inline-block;
	}
	.copyright-info {
		max-width: 74%;
	}
}

@media (max-width:600px) {
	footer {
		font-size: 12px;
	}
}