// Contact

.contact {
	@extend %section-vertical-padding;
	overflow:auto;
	h4 {
		margin-top:0;
		margin-bottom: $standard-spacing;
	}
}

form {
	font-size:18px;
	line-height:2;
	border-color:#999;
	input[type="text"],
	input[type="email"],
	textarea {
		width: 100%;
		padding:0 12px;
		margin-bottom:32px;
		font-weight: 300;
		&:focus {
			outline: 2px solid black;
		}
	}
	input[type="text"],
	input[type="email"] {
		display: block;
		height:45px;
		line-height: 45px;
	}
	textarea {
		height: 11em;
	}
	input[type="submit"] {
		background:none;
	}
}

// Footer

footer {
	@extend %dark-bg;
	padding-top:$standard-spacing/1.5;
	padding-bottom:$standard-spacing*2.5;
	a {
		display: inline-block;
		max-width:50%;
	}
}