// Header

.header-menu {
	@include transition-property(all);
  @include transition-duration(0.24s);
  @include transition-timing-function(ease-in);
	
	position: static;
	top:0;
	min-height:$header-height;
	line-height: $header-height;
	width: 100%;
	z-index: 2;
	background: black;
	color:white;
	a {
		color:white;
	}
	.social-icon svg {
		vertical-align: middle;
	}
}

@media (max-width:641px) {
	.header-menu .container {
  	padding-left: 0;
  	padding-right: 0;
  }
}

// Resize banner on mobile
@media (min-width:415px) and (min-height:737px) {
	.header-menu {
		position: absolute;
		background:none;
		&.dark-bg {
			background: black;
		}
	}
	
}
@media (min-width:737px) and (min-height:414px) {
	.header-menu {
		position: absolute;
		background:none;
		&.dark-bg {
			background: black;
		}
	}
}

// iPhone 6 portrait and taller
@media (min-width:415px) and (min-height:737px) {
	.header-menu {
		position: fixed;
	}
	.site-menu .dropdown-menu {
		padding: 13px 0 0;
	}
}

@media (max-width:768px) {
	.header-menu {
		min-height:$header-height/2;
		line-height: $header-height/2;
	}
}
@media (min-width:769px) and (max-width:991px) {
	.header-menu {
		min-height:$header-height/1.5;
		line-height: $header-height/1.5;
	}
}

$transparentshadow: rgba(black, 0.1);
.header-menu.dark-bg {
	box-shadow:0px 8px 0px $transparentshadow;
}

.site-logo {
	font-size: inherit;
	line-height: inherit;
	margin:0;
	font-weight:bold;
	text-transform:uppercase;
	img {
		vertical-align: -1px;
	}
	svg path {
		fill:white;
	}
}

.site-menu {
	a,.dropdown {
		@include transition-property(color,background);
	  @include transition-duration(0.3s);
	  @include transition-timing-function(ease-in);
		display: inline;
		padding:0 15px;
		&.border-left:before {
			content:url(../images/nav-vertical-divider.png);
			border-left: 1px solid #ccc;
			height: 14px;
			position: relative;
			right: 17px;
			opacity: 0.5;
		}
	}
	a:hover,
	.dropdown.show .dropdown-toggle {
		background: inherit;
		color:$brown;
	}
	.button {
		display: inline-block;
		min-width: inherit;
		text-align: center;
		padding:0 20px;
	}
	.dropdown-toggle {
		display: inline;
		cursor: pointer;
	}
	.dropdown-menu {
		@include border-radius(0);
		@include transition-property(all);
	  @include transition-duration(0.3s);
	  @include transition-timing-function(ease-in-out);
		display: block;
		top: 17px;
		padding: 13px 0 0;
		min-width: inherit;
		
		border: 0;
		box-shadow: none;
		background: inherit;
		opacity: 0;
		overflow: hidden;
		pointer-events:none;
		a {
			padding: 10px 24px;
		}
		a {
			color:white;
			&:hover,
			&:focus {
				background:inherit;
				color:$brown !important;
			}
		}
		.dark-bg & {
			// when header bg is dark, drop down menu bg should also be dark
			background:black;
		}
	}
	.icon-fill {
		@include transition-property(fill);
	  @include transition-duration(0.2s);
	  @include transition-timing-function(ease-in);
		fill:rgba(white,0.5);
	}
}

@media (max-width:407px) {
	.site-menu .dropdown.show-menu .dropdown-menu {
		background: black;
	}
	.site-menu .dropdown.show-dropdown .dropdown-menu {
		background: black;
	}
}

.dropdown.show-menu .dropdown-menu,
.dropdown.show-dropdown .dropdown-menu {
	opacity: 1;
	pointer-events:auto;
}



@media (min-width:641px) {
	.site-menu {
		a,.dropdown {
			display: inline;
		}
	}
}

.instagram-link:hover .icon-fill,
.instagram-link:focus .icon-fill,
.facebook-link:hover .icon-fill,
.facebook-link:focus .icon-fill {
	background:inherit;
	fill:$brown;
	.dark-bg & {
		fill:$brown;
	}
}



@media (min-width: 992px) {
	.site-menu {
		text-align:right;
		.facebook-link {
			margin-left:15px;
		}
		.button {
			margin:auto 15px;
			& + .social-icon {
				margin-left:46px;
			}
		}
	}
}

@media (max-width: 480px) {
	.site-menu {
		font-size:13px;
		a {
			padding: 0 8px;
			&.border-left:before {
				right: 10px;
			}
		}
		.button {
			font-size:11px;
		}
	}
}

.page-banner {
	@extend %preserve3d;
	position: relative;
	border-bottom:1px solid black;
  text-align:center;
  background-size: 100% auto;
	background-size: cover;
  background-color:$almost-black;
  color:white;
  // Fine Handcrafted Acoustic Steel String Guitars
	h1 {
		@extend %vertical-align;
		max-width: 74%;
		padding-bottom:12px;
		margin: 0 auto;
		letter-spacing: 3px;
		font-size:26px;
	}
}

@media (min-width:768px) and (min-height:768px) {
	.page-banner {
	 height:100vh;
	}
}


@media (min-width: 415px) {
	.page-banner h1 {
		font-size:29.6666666666667px;
	}
}
@media (max-width: 667px) {
	.page-banner h1 {
		font-size: 41.0833333333333px;
	}
}
@media (min-width: 668px) {
	.page-banner h1 {
		font-size: inherit;
	}
}

// These styles may get removed by Uncss during build so I have inlined them as well
.page-banner.scrolled h1:before,
.page-banner.scrolled h1:after {
	opacity:0;
} 


@media (min-width: 992px) {
	.site-logo {
		text-align:left;
	}
	.page-banner {
		height:700px;
		h1 {
			max-width: 800px;
		}
	}
}

@media (max-width: 940px) {
	.page-banner {
		margin-top:0;
	}
}

@media (max-width: 800px) {
	.header-menu {
		padding-bottom: 12px;
	}
}


@media (min-width: 416px) and (min-height: 416px) and (max-width:766px) {
	.page-banner h1 {
		padding-top:10%;
	}
}

@media (max-width: 480px) {
	.page-banner {
		h1:after {
			font-size:12px;
		}
	}
}