
.page-home .container p {
	font-size:20px;
	line-height:1.5;
	margin-bottom:24px;
}

@media (max-width: 568px) {
	.page-home .container p {
		font-size:14px;
	}
}

@media (min-width: 569px) and (max-width: 667px) {
	.page-home .container p {
		font-size:16px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.page-home .container p {
		font-size:16px;
	}
}

.page-home .page-banner {
	h1 {
		&:after {
			display: block;
			background:url(../images/home-header-brown-divider.jpg) no-repeat top;
			font-family: $opensans;
			font-size:14px;
			line-height: 3.75;
			font-weight:300;
			letter-spacing:0; 
			margin:36px auto 0;
			padding-top:8px;
		}
		// Down arrow
		&:before {
			
			display:block;
			position: absolute;
			width: 100%;
			bottom:-1.5%;
		}
		&:after,
		&:before {
			@include transition-property(opacity);
		  @include transition-duration(0.8s);
		  @include transition-timing-function(ease-in);
		}
	}
}

// Show 'Please scroll' only on non-mobile devices
@media (min-width:1024px) and (min-height:600px) {
	.page-home .page-banner h1 {
		&:before {
			content:url(../images/home-arrow-down.png);
		}
		&:after {
			content:"Please Scroll";
		}
	}
}
@media (min-width:415px) and (min-height:737px) {
	.page-home .page-banner h1 {
		&:before {
			content:url(../images/home-arrow-down.png);
		}
		&:after {
			content:"Please Scroll";
		}
	}
}

@-moz-document url-prefix() {
	.page-home .page-banner h1 {
		&:after {
			font-family: arial,sans-serif;
		}
	}
}

.page-banner.scrolled {
	h1:before,
	h1:after {
		opacity:0;
	}
}

// Mobile first background header
.intro-home {
	height: 260px;
	background:url(../images/home-header-mobile.jpg) no-repeat center/cover;
}

// Change size and bg image on non-mobile devices
@media (min-width:415px) and (min-height:737px) {
	.intro-home {
		height:500px;
	}
}
@media (min-width:767px) {
	.intro-home {
		height:100vh;
	}
}
@media (min-width:415px) and (min-height:737px) {
	.intro-home {
		background-image:url(../images/home-header.jpg);
	}
}
@media (min-width:737px) and (min-height:415px) {
	.intro-home {
		background-image:url(../images/home-header.jpg);
	}
}

.models-home {
	@extend %section-vertical-padding;
	padding-bottom:$standard-spacing*1.25;
	h4 {
		margin-bottom:$standard-spacing;
	}
	h2 {
		&:after {
			content:" ";
			display:block;
			margin: 15px auto 16px;
			height:1px;
			width:42px;
			background:$brown;
		}
	}
	img.guitar {
		height:216px;
	}
}

@media (max-width:767px){
	.models-home { 
		padding-bottom:0;
		> .col-md-6 > .col-md-8 {
			margin-bottom: $standard-spacing*1.25;
		}
	}
}

@media (min-width:992px){
	.models-home {
		h4 {
			margin-bottom:inherit;
		}
		img.guitar {
			height:auto;
		}
	}
}

@media (min-width: 992px) {
	.models-home {
		> .col-md-6 {
			&:first-of-type {
				padding-left:0;
				background:url(../images/home-models-vert-line.jpg) no-repeat 100% 40%;
				.col-md-8 {
					padding-left: 0;
					padding-right: 30px;
				}
			}
			&:nth-of-type(2) {
				padding-right: 0;
				img.guitar {
					float:right;
				}
				.col-md-8 {
					padding-right: 0;
					padding-left: 30px;
				}
			}
		}
	}
}

// Homepage: Features & Specs
.features-home {
	background:black url(../images/home-features-bg.jpg);
	background-size:cover;
	text-align:center;
	@extend %section-vertical-padding;
	.container > h4 {
		@extend %standard-spacing-bottom;
		color:white;
	}
	.col-md-4 {
		color:$gray;
		h4 {
			margin-top:32px;
		}
		p {
			margin: 0 auto $standard-spacing;
		}
	}
	.button {
		margin:0 auto;
	}
}

// Homepage: Gallery Section
.gallery-home {
	@extend %section-vertical-padding;
	
	h4,img {
		@extend %standard-spacing-bottom;
	}
}
@media (min-width: 800px) {
	.gallery-home {
		@include no-horizontal-padding;
	}
}

.about-home-wrap {
	@extend %section-vertical-padding;
	@extend %dark-bg;
	position: relative;
	overflow:hidden;
	h4 {
		margin-bottom:$standard-spacing/1.5;
	}
	.container {
		position: relative;
		z-index: 1;
		max-width: 978px;
		margin: 0 auto;
		color:white;
	}
	.about-text {
		p {
			margin: 0 auto 24px;
		}
	}
	.about-home-bg {
		background: url(../images/home-about-bg.jpg) repeat fixed;
		background-size: 100% auto;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}
@media (max-width: 736px) {
	.about-text p {
		max-width: 82%;
	}
}
@media (min-width: 800px) {
	.about-home {
		.container {
			@include no-horizontal-padding;
		}
	}
}