// Model Detail Page

.intro-model {
	height: 125px;
	// Mobile first background header
	&.om-r {
		background:url(../images/om-r-header-mobile.jpg) no-repeat top center/cover;
	}
	&.oo-r {
		background:url(../images/oo-r-header-mobile.jpg) no-repeat top center/cover;
	}
}

@media (min-width:480px) and (max-height:414px) {
	.intro-model {
		height:208px;
	}
}

// Change size and bg image on non-mobile devices
@media (min-width:415px) and (max-width:767px) {
	.intro-model {
		height: 400px;
	}
}
@media (min-width:768px) {
	.intro-model {
	 height: 400px;
	}
}

@media (min-width:415px) and (min-height:737px) {
	.intro-model {
		&.om-r {
			background:url(../images/om-r-header.jpg) no-repeat top center/cover;
		}
		&.oo-r {
			background:url(../images/oo-r-header.jpg) no-repeat top center/cover;
		}
	}
}
@media (min-width:415px) and (min-height:737px) {
	.intro-model {
		&.om-r {
			background:url(../images/om-r-header.jpg) no-repeat top center/cover;
		}
		&.oo-r {
			background:url(../images/oo-r-header.jpg) no-repeat top center/cover;
		}
	}
}


.model-info {
	@extend %section-vertical-padding;
	padding-bottom: 50px;
}

.model-detail-grid {
	margin-bottom: $standard-spacing*1.25;
}

@media (max-width:991px) {
	.model-detail-grid > div[class*="col"]:nth-last-of-type(n+3) {
		margin-bottom:$standard-spacing/2;
	}
}

.model-description {
	font-size:20px;
	line-height:1.45;
	max-width: 1000px;
	margin: 0 auto $standard-spacing;
	position: relative;
	// Separator line
	&:after {
		content:" ";
		display: block;
		padding-top: $standard-spacing;
		border-bottom:1px solid $brown;
		width:170px;
		margin:0 auto;
	}
}

.model-specs {
	padding-left: 0;
	margin-bottom:0;
	font-size:16px;
	li {
		display: inline-block;
		margin:0 18px 10px;
		position: relative;
		span {
			font-size:20px;
		}
		// Separator dot
		&:not(:last-of-type) {
			&:after {
				@include border-radius(5px);
				content: "";
				display: inline-block;
				height: 5px;
				width: 5px;
				background: #ccc;
				position: absolute;
				right: -20px;
				top: 50%;
			}
		}
		&:first-of-type {
			margin-left:0;
		}
		&:last-of-type {
			margin-right:0;
			&:after {
				display: none;
			}
		}
	}
}

@media (max-width:568px) {
	.model-specs {
		font-size:13px;
	}
}
