<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400|Abril+Fatface' rel='stylesheet' type='text/css'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Michaud Made</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- build:[href] http://nicobailon.com/michaudmade/css/main.min.css -->
	<link rel="stylesheet" href="///Users/nicobailon/Documents/website/css/main.css">
	<!-- /build -->
	<!-- NOTE: remove before launching! -->
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<!-- Inlining styling that gets removed by Uncss in build script -->
	<style>.page-banner.scrolled h1:before, .page-banner.scrolled h1:after {opacity:0;} .dark-bg .site-menu .dropdown-menu{background:#141414;} 
.dark-bg .button:hover, .dark-bg .button:active, .dark-bg .button:focus { color:black; background:white; }</style>
</head>
<body>
	<div class="wrapper container-fluid">
		<header class="header-menu">
			<div class="container">
				<h1 class="site-logo col-md-3 col-xs-12">
					<!-- build:[href] http://nicobailon.com/michaudmade/ -->
					<a href="///Users/nicobailon/Documents/website/index.html">
					<!-- /build -->	
						<!-- build:[src] http://nicobailon.com/michaudmade/images/ -->
						<img src="http://nicobailon.com/michaudmade/images/nav-logo.png" class="white-img"></a>
						<!-- /build -->
						<!-- <img src="./images/nav-logo.png" class="white-img"></a> -->
					</a>
				</h1>

				<nav class="site-menu col-md-9 col-xs-12 pull-right">
					<div class="dropdown" id="dropdownModels">
						<div class="dropdown-toggle" data-toggle="dropdown">
					    	Models
					    	<span class="caret"></span>
						</div>
						<ul class="dropdown-menu">
							<li role="presentation">
								<!-- build:[href] http://nicobailon.com/michaudmade/models/ -->
								<a role="menuitem" tabindex="-1" href="///Users/nicobailon/Documents/website/models/oo-r.html">OO-R</a>
								<!-- /build -->
							</li>
							<li role="presentation">
								<!-- build:[href] http://nicobailon.com/michaudmade/models/ -->
								<a role="menuitem" tabindex="-1" href="///Users/nicobailon/Documents/website/models/om-r.html">OM-R</a>
								<!-- /build -->
							</li>
						</ul>
					</div>
					<!-- build:[href] http://nicobailon.com/michaudmade/ -->
					<a href="///Users/nicobailon/Documents/website/features-and-specs.html" class="border-left">Features &amp; Specs</a>
					<!-- /build -->
					<a href="" class="border-left">Gallery</a></li>
					<a href="" class="button">Ordering</a></li>
					<a href="" class="social-icon facebook-link">
						Facebook
					</a>
					<a href="" class="social-icon instagram-link">
						Instagram
					</a>
				</nav>
			</div>
		</header>