include "header.html"
<div class="page-features-and-specs">	
	<div class="page-banner intro-model om-r">
		<h1>OM-R</h1>
	</div>

	<div class="container model-info">
		<p class="model-description">OM Revisted, A modern take on the traditonal OM. Built as a tonally complex instrument with full bass and focused trebles. A sound that is full and rich with the power to project when driven.</p>
		<ul class="model-specs">
			<li>Lower Bout: <b>15.5"</b></li>
			<li>Upper Bout: <b>11.75"</b></li>
			<li>Scale: <b>25"</b></li>
			<li>Depth at Neck: <b>3.5"</b></li>
			<li>Depth at Tail: <b>4.5"</b></li>
		</ul>
	</div>
	<div class="container model-detail-grid">
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="../images/om-r-1.jpg">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="../images/om-r-2.jpg">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="../images/om-r-3.jpg">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="../images/om-r-4.jpg">
		</div>
	</div>
	<hr>
</div>
include "footer.html"
