include "header.html"
<div class="page-features-and-specs">	
	<div class="page-banner intro-model oo-r">
		<h1>OO-R</h1>
	</div>

	<div class="container model-info">
		<p class="model-description">OO Revisted, Based off of the traditonal 00 size guitar. Built small with a deceivingly big presence.
Pleasing bass presence and resonance with mids and trebles that are easy to focus on and project with a light touch.</p>
		<ul class="model-specs">
			<li>Lower Bout: <b>14.5"</b></li>
			<li>Upper Bout: <b>14.5"</b></li>
			<li>Scale: <b>25"</b></li>
			<li>Depth at Neck: <b>3.5"</b></li>
			<li>Depth at Tail: <b>4.25"</b></li>
		</ul>
	</div>
	<div class="container model-detail-grid">
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="../images/oo-r-1.jpg">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="../images/oo-r-2.jpg">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="../images/oo-r-3.jpg">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="../images/oo-r-4.jpg">
		</div>
	</div>
	<hr>
</div>
include "footer.html"
