include "header.html"
<div class="page-home">
	
	<div class="page-banner intro-home">
		<h1>Fine Handcrafted Acoustic Steel String Guitars</h1>
	</div>

	<div class="models-home container">
		<h4>Models</h4>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<img class="col-md-4 guitar" src="images/home-model-1.jpg">
			<div class="col-md-8">
				<h2>OO-R</h2>
				<p>A small finger style guitar with a energetic response and excellent clarity, complimented by a full bass and rich overtones.</p>
				<!-- build:[href] http://nicobailon.com/michaudmade/models/ -->
				<a class="button" href="models/oo-r.html">View Model</a>
				<!-- /build -->
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<img class="col-md-4 guitar" src="images/home-model-2.jpg">
			<div class="col-md-8">
				<h2>OM-R</h2>
				<p>A versatile model with a strong clear voice. With great projection and depth, this model is equally suited for finger style or flat picking.</p>
				<!-- build:[href] http://nicobailon.com/michaudmade/models/ -->
				<a class="button" href="models/om-r.html">View Model</a>
				<!-- /build -->
			</div>
		</div>
	</div>

	<div class="features-home dark-bg">
		<div class="container">
			<h4>Features &amp; Specs</h4>
			<div class="row-container">
				<div class="col-md-4">
					<img src="images/home-features-1.png">
					<h4>Timbre Specific Bracing</h4>
					<p>Through deflection tap testing raw materials are brought to full potential.</p>
				</div>
				<div class="col-md-4">
					<img src="images/home-features-2.png">
					<h4>Double Sides</h4>
					<p>An extremely strong structure for supporting the tops and back vibrating plates.</p>
				</div>
				<div class="col-md-4">
					<img src="images/home-features-3.png">
					<h4>Cutaways</h4>
					<p>Two distinct options available, Florentine and Scoop to suite players needs.</p>
				</div>
			</div>
			<!-- build:[href] http://nicobailon.com/michaudmade/models/ -->
			<a class="button" href="features-and-specs.html">View All</a>
			<!-- /build -->
		</div>
	</div>

	<div class="gallery-home container">
		<h4>Gallery</h4>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="images/home-gallery-1.jpg">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="images/home-gallery-2.jpg">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="images/home-gallery-3.jpg">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-3">
			<img src="images/home-gallery-4.jpg">
		</div>
		<!-- build:[href] http://nicobailon.com/michaudmade/ -->
		<a class="button" href="gallery.html">View All</a>
		<!-- /build -->
	</div>

	<div class="about-home-wrap">
		<div class="container about-text">
			<h4>About</h4>
			<p>I have always loved to build and create with my own hands. With a background in woodworking and design, combined with a love for music, building musical instruments became a natural calling for me. Working solo as a Luthier out of my shop I craft guitars with a modern aesthetic while having a strong respect for tradition.  Building guitars has become my way of life, and I live each day excited to create, learn and evolve. I hope to have the chance to build you your dream Michaud guitar.</p>
		</div>
		<div class="about-home-bg parallax scrolly-invisible" data-fit="300" data-velocity="-.65">
		</div>
	</div>

</div>
include "footer.html"
