<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Michaud Made</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- NOTE: change to main.min.css before deploying! -->
	<link rel="stylesheet" href="http://nicobailon.com/michaudmade/css/main.min.css">
	<!-- NOTE: remove before launching! -->
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>
<body>
	<div class="wrapper container-fluid">
		<header class="header-menu">
			<div class="container">
				<h1 class="site-logo col-md-3 col-xs-12">
					<a href="http://nicobailon.com/michaudmade/index.html">
						<img src="http://nicobailon.com/michaudmade/images/nav-logo.png" class="white-img"></a>
					</a>
						<!-- <img src="images/nav-white-logo.png" class="dark-img"> -->
				</h1>

				<nav class="site-menu col-md-9 col-xs-12 pull-right">
					<div class="dropdown">
						<div class="dropdown-toggle" id="dropdownModels" data-toggle="dropdown">
					    	Models
					    	<span class="caret"></span>
						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="http://nicobailon.com/michaudmade/models/oo-r.html">OO-R</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="http://nicobailon.com/michaudmade/models/om-r.html">OM-R</a>
							</li>
						</ul>
					</div>
					<a href="http://nicobailon.com/michaudmade/features-and-specs.html" class="border-left">Features &amp; Specs</a>
					<a href="" class="border-left">Gallery</a></li>
					<a href="" class="button">Ordering</a></li>
					<a href="" class="social-icon facebook-link">
						Facebook
					</a>
					<a href="" class="social-icon instagram-link">
						Instagram
					</a>
				</nav>
			</div>
		</header>